// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.border-red {
  border: 1px solid red
}

.border-blue {
  border: 1px solid blue
}

.border-green {
  border: 1px solid green
}

* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: -webkit-linear-gradient(to left, #c2e59c, #64b3f4);
  background: linear-gradient(to left, #c2e59c, #64b3f4)
}

h1 {
  margin: 50px 0;
  text-transform: uppercase;
}


.main-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px;
}

.note-container {
  display: inline-block;
  // width: 15%;
  // flex-grow: 1;
  max-width: 50%;
  margin: 25px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(243, 236, 131);
  // overflow: hidden;
  position: relative;

  &:hover {
    transform: scale(1.01);
    transition: 0.4s;
    cursor: pointer;
  }
}

.buttons {
  background-color: black;
  color: azure;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  margin: 10px 0;
}

.form-input-fields {
  border-radius: 5px;
  padding: 10px 15px;
  height: 144px;
  text-align: left;
  display: block;
  margin: 0px auto;
  background-color: rgb(243, 236, 131);
  border: none;
  width: 50%;
}

.fixed-div {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7)
}

.relative-form {
  position: relative;
  margin-top: 23%;
  // width: 100vh;
  // height: 100vw;
  // z-index: 1;
}

.absolute-submit {
  position: absolute;
  right: 25%;
  top: 68%;
}

.update-button {
  background-color: black;
  border: .5px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  position: relative;
  top: 4px;
  color: white;
  &:hover {
    cursor: pointer;
  }
}

.x-delete{
  color: white;
  position: absolute;
  right: -4px;
  top: -7px;
  background-color: black;
  padding: 5px 8px;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
  }
}

#new-note-form {
  display: none;
  // transition: 0.4s;

}


.new-note-button {
  margin-top: 50px;
  font-size: 1.5rem;
  padding: 20px 30px;
}

.editable-txarea {
  border: none;
  background-color: transparent;
  border: none;
  overflow: hidden;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  display: block;
  margin-bottom: 21px;
}
